<div class="banner-wrapper">
  <div class="banner-arrow">
    <button class="bannerbutton prev" (click)="prevBanner()">
      <img src="assets/images/icons/left-arrow.png" alt="Anterior">
    </button>
  </div>
  <div class="banner-content">
    <img [src]="bannerImages[currentBannerIndex]" alt="banner" id="bannerimg">
    <!-- Aquí puedes añadir tu contenido si lo necesitas -->
  </div>
  <div class="banner-arrow">
    <button class="bannerbutton next" (click)="nextBanner()">
      <img src="assets/images/icons/right-arrow.png" alt="Siguiente">
    </button>
  </div>
</div>
