<!-- Contenedor principal de la barra de navegación -->
<nav>
  <div>
    <!-- Lista principal del menú -->
    <ul id="menu">
      <!-- Elemento de navegación a la página principal -->
      <li class="menuitem home" [routerLink]="['/']">HOME</li>

      <!-- Categoría DILATACIONES con desplegable -->
      <li class="menuitem elem" *ngIf="getDilatacionesCategory()">
        <span [attr.data_id]="getDilatacionesCategory()?.id" class="categoria">
          DILATACIONES
        </span>

        <ul class="subcat">
          <!-- Categorías específicas de DILATACIONES -->
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('TUNELES')]">
            TÚNELES
          </li>
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('PLUGS')]">
            PLUGS
          </li>
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('EXPANDERS')]">
            EXPANDERS
          </li>
        </ul>
      </li>

      <!-- Elemento para PIERCINGS con subcategorías -->
      <li class="menuitem elem" *ngIf="getPiercingsCategory()">
        <span [attr.data_id]="getPiercingsCategory()?.id" class="categoria">
          PIERCINGS
        </span>

        <ul class="subcat">
          <!-- Categorías específicas de PIERCINGS -->
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('BANANAS')]">
            BANANAS
          </li>
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('LABRETS')]">
            LABRETS
          </li>
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('BARBELLS')]">
            BARBELLS
          </li>
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('CIRCULAR BARBELLS')]">
            CIRCULAR BARBELLS
          </li>
          <li class="menuitem categoria" [routerLink]="['/category', getSubcategoryId('ANILLOS')]">
            ANILLOS
          </li>
        </ul>
      </li>

      <!-- Elemento para ver todos los productos -->
      <a [routerLink]="['/ver-todo']" class="nav-link">VER TODO</a>

      <!-- Elementos a la derecha: búsqueda, perfil y carrito -->
      <div class="right-items">
        <!-- Campo de búsqueda -->
        <li id="search" class="menuitem">
          <input type="text" id="searchinput" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Buscar..." />
          <img id="searchicon" src="assets/images/icons/search.png" alt="botón de búsqueda" (click)="search()">
        </li>

        <!-- Perfil de usuario -->
        <li class="menuitem profile" [routerLink]="['/profile']">
          <img src="assets/images/icons/login.png" id="imgprofile" />
        </li>

        <!-- Carrito -->
        <li id="carrito" (click)="toggleCartAndLog()">
          <img src="assets/images/icons/cart.png" alt="Carrito" />
          <p *ngIf="(cartService.cartItems | async)?.length">{{ (cartService.cartItems | async)?.length }}</p>
        </li>
      </div>
    </ul>
  </div>
</nav>