.angular-logo {
    height: 30px; /* Ajusta el tamaño según necesites */
    width: auto;
    vertical-align: middle;
    margin-right: 8px; /* Espacio entre el logo y el texto */
  }
  
  footer p {
    display: flex;
    align-items: center;
    justify-content: center;
  }